body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    }
    form {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 20px;
        }
        label {
            display: block;
            margin-bottom: 10px;
        }
        input {
            width: 100%;
            padding: 9px;
            margin-bottom: 14px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
        }
        button {
            background-color: #3336FF;
            color: white;
            padding: 9px 14px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        button:hover {
            background-color: #3393FF;
        }